body{
  background-color: #2a3035;

}

main>h2>p{
  color: white;
}

#search_result{
  color: white;
  margin-left: 30px;
  margin-top: 3em;
}


.form-control:focus {
	border-color: #ff000000;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

 